.App {
  background-color: #f0f3f6;
}

.App-logo {
  height: 36px;
  width: 257px;
  pointer-events: none;
}

.App-header {
  background-color: #f0f3f6;
  min-height: 20vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: brand;
}

.login-body {
  background-color: #0570b1;
  min-height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}

.login-welcome {
  width: 100%;
  height: 100px;
  margin-left: 50px;
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  letter-spacing: 0.4cap;
}
.login-form {
  width: 80%;
  font-family: 'DM Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.login-form input{
  background-color: #0570b1;
  color: #f0f3f6;
  width: 100%;
  height: 60px;
  border: 0px;
  border-bottom: 1px solid #f0f3f6;
}

.login-form div{
  color: #f0f3f6;
  width: 100%;
  font-family: 'DM Sans', sans-serif;
  font-size: 12px;
  text-align: right;
  margin-top: -22px;
}

.login-form button{
  background-color: #f0f3f6;
  color: #0570b1;
  width: 60%;
  height: 30px;
  font-family: 'DM Sans', sans-serif;
  font-size: 20px;
  border: 0px;
  border-radius: 20px;
}

.login-form input::placeholder {
  color: #f0f3f6;
  font-style: italic;
}

.login-body img{
  min-height: 250px;
  width: 250px;
}

.login-create-account{
  width: 100%;
  display: flex;
  gap: 3px;
  justify-content: center;
  margin-top: 30px;
}

.login-create-account h2{
  color: #f0f3f6;
  font-weight: 100;
  font-family: 'DM Sans', sans-serif;
  font-size: 15px;
}

.login-create-account h1{
  font-weight: 100;
  font-family: 'DM Sans', sans-serif;
  font-size: 15px;
  color: #495057;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
