.App {
  background-color: #f0f3f6;
}

.App-logo {
  height: 36px;
  width: 257px;
  pointer-events: none;
}

.App-header {
  background-color: #f0f3f6;
  min-height: 20vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: brand;
}

.login-body {
  background-color: #0570b1;
  min-height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}

.login-welcome {
  width: 100%;
  height: 100px;
  margin-left: 50px;
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  letter-spacing: 0.4cap;
}
.login-form {
  width: 80%;
  font-family: 'DM Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.login-form input{
  background-color: #0570b1;
  color: #f0f3f6;
  width: 100%;
  height: 60px;
  border: 0px;
  border-bottom: 1px solid #f0f3f6;
}

.login-form div{
  color: #f0f3f6;
  width: 100%;
  font-family: 'DM Sans', sans-serif;
  font-size: 12px;
  text-align: right;
  margin-top: -22px;
}

.login-form button{
  background-color: #f0f3f6;
  color: #0570b1;
  width: 60%;
  height: 30px;
  font-family: 'DM Sans', sans-serif;
  font-size: 20px;
  border: 0px;
  border-radius: 20px;
}

.login-form input::placeholder {
  color: #f0f3f6;
  font-style: italic;
}

.login-body img{
  min-height: 250px;
  width: 250px;
}

.login-create-account{
  width: 100%;
  display: flex;
  gap: 3px;
  justify-content: center;
  margin-top: 30px;
}

.login-create-account h2{
  color: #f0f3f6;
  font-weight: 100;
  font-family: 'DM Sans', sans-serif;
  font-size: 15px;
}

.login-create-account h1{
  font-weight: 100;
  font-family: 'DM Sans', sans-serif;
  font-size: 15px;
  color: #495057;
}

.login-create-account a{
  text-decoration: none;
}

.App-link {
  color: #61dafb;
}

.cuidador-header {
  background-color: #0570b1;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  padding-left: 30px;
  font-size: 13px;
  font-family: 'DM Sans', sans-serif;
  letter-spacing: 0.3cap;
  gap: 20px;
  color: #f0f3f6;
}

.cuidador-body {
  background-color: #f0f3f6;
  min-height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cuidador-form {
  width: 80%;
  font-family: 'DM Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.create-account-login{
  width: 100%;
  display: flex;
  gap: 6px;
  justify-content: center;
  margin-top: 20px;
}

.create-account-login h2{
  color: #495057;
  font-weight: 100;
  font-family: 'DM Sans', sans-serif;
  font-size: 15px;
}

.create-account-login h1{
  font-weight: 100;
  font-family: 'DM Sans', sans-serif;
  font-size: 15px;
  color: #0570b1;
}

.create-account-login a{
  text-decoration: none;
}

.cuidador-form input{
  background-color: #f0f3f6;
  color: #868686;
  width: 100%;
  height: 40px;
  border: 0px;
  border-bottom: 1px solid #868686;
}

.cuidador-form div{
  color: #868686;
  width: 100%;
  font-family: 'DM Sans', sans-serif;
  font-size: 12px;
  text-align: right;
  margin-top: -22px;
}

.cuidador-form button{
  background-color: #0570b1;
  color: #f0f3f6;
  width: 80%;
  height: 40px;
  font-family: 'DM Sans', sans-serif;
  font-size: 20px;
  border: 0px;
  border-radius: 20px;
}

.cuidador-form input::placeholder {
  color: #868686;
  font-style: italic;
}

.cuidador-form p{
  color: #495057  ;
  width: 100%;
  height: 20px;
  font-family: 'DM Sans', sans-serif !important;
  font-size: 16px;
  font-weight: 100;
}

.cuidador-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.cuidador-checkbox label{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #495057;
  font-family: 'DM Sans', sans-serif !important;
  font-size: 16px;
}

.cuidador-checkbox input[type="radio"] {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #495057;
  background-color: white;
  transition: background-color 0.3s, border-color 0.3s;
  cursor: pointer;
}

.header-global {
  background-color: #d1dce2;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: brand;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #0570b1;
  font-size: 16px;
}

.perfil-header {
  display: flex;
  width: 100%;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  color: #868686;
  font-family: 'DM Sans', sans-serif !important;
  gap: 10px;
  font-weight: 100;
}

.perfil-header img{
  width: 40px;
  height: 40px;
}

.home-cuidador-body{
  width: 100%;
  display: flex;
  justify-content: center;
}

.perfil-idoso-header p{
  color: #0570b1;
  font-family: 'DM Sans', sans-serif !important;
  font-weight: 700;
}

.perfil-idoso-header-div{
  width: 80%;
  margin-top: -150px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 70vh;
  background-color: #f0f3f6;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.perfil-idoso-header-div div{
  display: flex;
  gap: 20px;
}

.perfil-idoso-header-div img{
  height: 50px;
  width: 55px;
}

.dados-idoso{
  display: flex;
  flex-direction: column;
  height: 50px !important;
  gap: 0px;
  padding: 0px;
  border: 0px;
  margin: 0px;
}

.home-cuidador-body div{
  width: 80%;
  margin-top: -150px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 70vh;
  background-color: #f0f3f6;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 60px;
  align-items: center;
}

.home-cuidador-body button{
  background-color: #0570b1;
  color: #f0f3f6;
  border: 0px;
  width: 50%;
  height: 50px;
  border-radius: 10px;
  font-size: 13px;
  font-family: 'DM Sans', sans-serif !important;
  font-weight: 100;
}

.home-cuidador-body a{
  text-decoration: none;
  color: #f0f3f6;
}


.perfil-idoso-header{
  width: 100%;
  display: flex;
  justify-content: center;
}

.perfil-idoso-header h4{
  font-size: 13px;
  font-family: 'DM Sans', sans-serif !important;
  font-weight: 100;
  color: #495057
}

.perfil-idoso-header div{
  width: 80%;
}

.perfil-idoso-header ul{
  width: 90%;
  font-size: 16px;
  font-family: 'DM Sans', sans-serif !important;
  font-weight: 700;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.perfil-idoso-header li{
  display: flex;
  align-items: center;
  gap: 10px;
}

.perfil-idoso-header h2{
  font-size: 15px;
  font-family: 'DM Sans', sans-serif !important;
  font-weight: 500;
}

.lista-cuidadores{
  gap: 50px;
  display: flex;
} 

.lista-cuidadores img{
  width: 80px;
  height: 80px;
} 

.lista-cuidadores div{
  display: flex;
  flex-direction: column;
  height: 40px;
  gap: 0px;
}

.margin-top{
  margin-top: -30px;
}

.lista-cuidadores h1{
  font-size: 15px;
  font-weight: 300;
  margin: 0px !important;
}

.lista-cuidadores h4{
  margin: 0px !important;
}

.avaliation{
  display: flex;
  width: 100px;
  flex-direction: row !important;
  margin-top: 20px;
}

.avaliation i{
  width: 20px;
  font-size: 14px;
  color: rgb(219, 200, 30);
}

.avaliation div{
  width: 20px;
  font-size: 14px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
